﻿@model PassionProject.Models.webproject

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>webproject</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectLink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Webprojectid }) |
    @Html.ActionLink("Back to List", "List")
</p>
