﻿@model IEnumerable<PassionProject.Models.webproject>

@{
    ViewBag.Title = "Project List";
}

<h2>Project List</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectLink)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectLink)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Webprojectid }) |
            @Html.ActionLink("Details", "Details", new { id=item.Webprojectid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Webprojectid })
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("[+]", "Create")
</p>
